<div class="row">
    <div class="col-xs-12 user-heading">Histórico</div>
</div>
<div class="row">
    <div class="panel-default col-lg-12">
        <div class="panel-heading panel-heading-historic">
            <div class="row">
                <h4 class="col-xs-12">Filtros</h4>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="rodada">Rodada</label>
                    <select id="rodada" class="form-control select-default" ng-options="rodada.descricao for rodada in rodadas track by rodada.id" ng-model="rodadaSelecionada" ng-change="obterJogosPorRodada(rodadaSelecionada)">
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label for="pais">País</label>
                    <select id="pais" class="form-control select-default" ng-options="pais.nome for pais in paises track by pais.nome" ng-model="paisSelecionado" ng-change="filtrar(paisSelecionado.nome)">
                    </select>
                </div>
            </div>
        </div>
        <div class="panel-body panel-body-historic">
            <div>
                <table class="table table-default borderless">
                    <thead>
                        <tr>
                            <th>Jogo</th>
                            <th class="text-center hide-md">Rodada</th>
                            <th class="text-center hide-md">Data</th>
                            <th class="text-center hide-sm">Meu Palpite</th>
                            <th class="text-center hide-sm">Resultado Oficial</th>
                            <th class="text-center">Minha Pontuação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="historico in historicos">
                            <td>
                                <span>{{historico.nomeTimeCasa}} X {{historico.nomeTimeVisitante}}</span>
                            </td>
                            <td class="text-center hide-md">
                                <span>{{historico.rodada}}ª Rodada</span>
                            </td>
                            <td class="text-center hide-md">
                                <span>{{historico.data | date: "dd/MM | HH:mm" }}</span>
                            </td>
                            <td class="text-center hide-sm">
                                <span>{{historico.palpite}}</span>
                            </td>
                            <td class="text-center hide-sm">
                                <span>{{historico.resultado}}</span>
                            </td>
                            <td class="text-center">
                                <span ng-if="historico.palpite != 'Não informado' && historico.resultado != 'Não informado'" ng-class="historico.pontuacaoLayout.classe">{{historico.pontuacaoLayout.pontuacao | makeScorePlural}}</span>
                                <span ng-if="historico.palpite == 'Não informado' && historico.resultado != 'Não informado'" ng-class="historico.pontuacaoLayout.classe">-</span>
                                <span ng-if="historico.palpite != 'Não informado' && historico.resultado == 'Não informado'" ng-class="historico.pontuacaoLayout.classe"></span>
                                <span ng-if="historico.palpite == 'Não informado' && historico.resultado == 'Não informado'" ng-class="historico.pontuacaoLayout.classe"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>