<wizard on-finish="finishedWizard()" on-cancel="cancelledWizard()" indicators-position="top">

    <!-- ETAPA 1 -->
    <wz-step wz-title="Initial">

        <div class="jumbotron bg-transparent mb-0 radius-0" style="background-color: #000;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <h1 class="display-2" style="color:#fff">Are you ready to start this challenge?
                            <span class="vim-caret"></span>
                        </h1>
                        <div class="lead mb-3 text-mono text-success">I mean, is your system ready? There´s no way to come back!</div>
                        <div class="text-mono">
                            <a href="#!" class="btn btn-danger btn-shadow px-3 my-2 ml-0 ml-sm-1 text-left">
                                No, we are not ready yet
                            </a>
                            <a href="#!" wz-next title="Download Theme" class="btn btn-success btn-shadow px-3 my-2 ml-0 text-left">
                                Let´s do it
                            </a>
                        </div>
                        <br />
                        <div class="text-darkgrey text-mono my-2" style="color:rgb(92, 91, 91); font-size: 13px;">
                            Atention: This is not a joke. We´re going to hack your system.
                        </div>
                        <br />
                        <br />
                        <p class="mt-5 text-grey text-spacey" style="color:rgb(92, 91, 91)">
                            We are a digital game of card to assist software development teamns to identify security requiriments in agile, conventional
                            and formal development processes.
                        </p>

                        <p class="mt-5 text-grey text-spacey" style="color:rgb(92, 91, 91)">
                            The idea behind the game is to help development teams, especially those using agile methodologies, to identify application
                            security requirements.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </wz-step>

    <!-- ETAPA 2 -->
    <wz-step wz-title="SET-UP PLAYERS">

        <div class="jumbotron bg-transparent mb-0 radius-0" style="background-color: #000;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <h1 class="display-2" style="color:#fff">Now, lets choose the players
                            <span class="vim-caret"></span>
                        </h1>
                        <div class="lead mb-3 text-mono text-success">Don´t be afraid, we are not a moster, we gonna help you guys.</div>
                        <br />
                        <div class="form-group">
                            <label for="exampleInputEmail1" style="color:#fff">Player's name</label>
                            <div isteven-multi-select input-model="players" output-model="outputDecks" button-label="icon name" item-label="icon name"
                                tick-property="selected">
                            </div>
                        </div>
                        <br />
                        <div class="text-mono">
                            <a href="#!" wz-previous class="btn btn-danger btn-shadow px-3 my-2 ml-0 ml-sm-1 text-left">
                                Sorry, I give up.
                            </a>
                            <a href="#!" ng-click="changeStepPlayersToDeckSuitTs()" title="Download Theme" class="btn btn-success btn-shadow px-3 my-2 ml-0 text-left">
                                Let´s choose the deck of cards.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </wz-step>

    <!-- ETAPA 3 -->
    <wz-step wz-title="SET-UP CARD DECK SUITS">

        <div class="jumbotron bg-transparent mb-0 radius-0" style="background-color: #000;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <h1 class="display-2" style="color:#fff">And now, lets choose the cards
                            <span class="vim-caret"></span>
                        </h1>
                        <div class="lead mb-3 text-mono text-success">
                            Instead of EoP’s STRIDE suits, Cornucopia suits were selected based on the structure of the
                            <a href="https://www.owasp.org/index.php/OWASP_Secure_Coding_Practices_-_Quick_Reference_Guide">
                                OWASP Secure Coding Practices
                            </a>, but with additional consideration of sections in the OWASP Application Security Development.
                            These provided five suits:
                        </div>
                        <div class="lead mb-3 text-mono text-success" style="padding-left: 30px;">
                            <span style="color: rgb(78, 78, 78); font-size:16px;">- Data validation and encoding </span>
                            <br />
                            <span style="color: #5f8ea0; font-size:16px;"> - Authentication</span>
                            <br />
                            <span style="color: #5b906e; font-size:16px;"> - Session management</span>
                            <br />
                            <span style="color: #b59b6c; font-size:16px;"> - Authorization</span>
                            <br />
                            <span style="color: #593e5d; font-size:16px;"> - Cryptography</span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" style="color:#fff">Deck Of Cards</label>
                            <div isteven-multi-select input-model="deckCards" output-model="outputDecks" button-label="icon name" 
                                item-label="icon name" tick-property="selected" orientation="horizontal">
                            </div>
                        </div>
                        <br />
                        <div class="text-mono">
                            <a href="#!" wz-previous class="btn btn-danger btn-shadow px-3 my-2 ml-0 ml-sm-1 text-left">
                                oOps, I want to change a player.
                            </a>
                            <a href="#!" ng-click="changeStepDeckSuitToStartTheGame()" title="Download Theme" class="btn btn-success btn-shadow px-3 my-2 ml-0 text-left">
                                Let´s the game begin.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </wz-step>

    <!-- ETAPA 4 -->
    <wz-step wz-title="THE GAME">

        <div class="jumbotron bg-transparent mb-0 radius-0" style="background-color: #000;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <h1 class="display-2" style="color:#fff">Play!!!
                            <span class="vim-caret"></span>
                        </h1>
                        <div class="lead mb-3 text-mono text-success">... and let the games begin.</div>
                    </div>

                    <!-- DECK Validação de dados Data validation and encoding-->
                    <div class="panel-game panel-default" ng-if="showDeckDataValidation" style="background-color: black;">
                        <div class="panel-heading">
                            <div class="col-xs-6 col-sm-6 game-tips" style="padding-left: 7px;">
                                <a ng-click="mostrarDicaDoMascote(jogo.resumoPrevio)" class="atitledeck">
                                    <i class="fa fa-lg fa-info" style="color: gray;"></i>
                                    <b style="color: gray;">Validação de dados de entrada e codificação de dados de saída</b>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body panel-body-game" style="padding-left: 0px!important;">
                            <div ng-repeat="deckdadavalidation in deckSuits.dadavalidation" 
                                class="col-xs-6 col-sm-4 col-md-3 col-lg-3 card-conucopia"
                                style="border: 1px gray solid;">

                                <a ng-click="showCardExplain(deckdadavalidation)" class="ahrefcarddeck">

                                    <div class="card-title">
                                        <p> {{ deckdadavalidation.name }} </p>
                                    </div>
                                    <div class="card-number">
                                        <p> <span class="fa fa fa-code"></span> {{ deckdadavalidation.card }} </p>
                                    </div>
                                    <div class="card-description">
                                        <p> {{ deckdadavalidation.description }} </p>
                                    </div>                                

                                </a>

                            </div>
                        </div>
                    </div>

                    <!-- DECK Autenticação e Gerenciamento de Credenciais  Authentication-->
                    <div class="panel-game panel-default" ng-if="showDeckAuthentication" style="background-color: black;">
                        <div class="panel-heading">
                            <div class="col-xs-6 col-sm-6 game-tips" style="padding-left: 7px;">
                                <a ng-click="mostrarDicaDoMascote(jogo.resumoPrevio)" class="atitledeck">
                                    <i class="fa fa-lg fa-user-secret" style="color: #5f8ea0;"></i>
                                    <b style="color: #5f8ea0;">Autenticação e Gerenciamento de Credenciais</b>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body panel-body-game" style="padding-left: 0px!important;">
                            
                            <div ng-repeat="deckauthentication in deckSuits.authentication" 
                                class="col-xs-6 col-sm-4 col-md-3 col-lg-3 card-conucopia"
                                style="border: 1px #5f8ea0 solid;">

                                <a ng-click="showCardExplain(deckauthentication)" class="ahrefcarddeck">

                                    <div class="card-title">
                                        <p> {{ deckauthentication.name }} </p>
                                    </div>
                                    <div class="card-number">
                                        <p> <span class="fa fa fa-code"></span> {{ deckauthentication.card }} </p>
                                    </div>
                                    <div class="card-description">
                                        <p> {{ deckauthentication.description }} </p>
                                    </div>                                

                                </a>

                            </div>

                        </div>
                    </div>

                    <!-- DECK Gerenciamento de Sessão Session Management-->
                    <div class="panel-game panel-default" ng-if="showDeckSessionManagement" style="background-color: black;">
                        <div class="panel-heading">
                            <div class="col-xs-6 col-sm-6 game-tips" style="padding-left: 7px;">
                                <a ng-click="mostrarDicaDoMascote(jogo.resumoPrevio)" class="atitledeck">
                                    <i class="fa fa-lg fa-info" style="color: #5b906e;"></i>
                                    <b style="color: #5b906e;">Gerenciamento de Sessão</b>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body panel-body-game" style="padding-left: 0px!important;">

                            <div ng-repeat="decksessionmanagement in deckSuits.sessionmanagement" 
                                class="col-xs-6 col-sm-4 col-md-3 col-lg-3 card-conucopia"
                                style="border: 1px #5b906e solid;">

                                <a ng-click="showCardExplain(decksessionmanagement)" class="ahrefcarddeck">

                                    <div class="card-title">
                                        <p> {{ decksessionmanagement.name }} </p>
                                    </div>
                                    <div class="card-number">
                                        <p> <span class="fa fa fa-code"></span> {{ decksessionmanagement.card }} </p>
                                    </div>
                                    <div class="card-description">
                                        <p> {{ decksessionmanagement.description }} </p>
                                    </div>                                

                                </a>

                            </div>
                        </div>
                    </div>

                    <!-- DECK Controle de Acesso Authorization-->
                    <div class="panel-game panel-default" ng-if="showDeckAuthorization" style="background-color: black;">
                        <div class="panel-heading">
                            <div class="col-xs-6 col-sm-6 game-tips" style="padding-left: 7px;">
                                <a ng-click="mostrarDicaDoMascote(jogo.resumoPrevio)" class="atitledeck">
                                    <i class="fa fa-lg fa-info" style="color: #b59b6c;"></i>
                                    <b style="color: #b59b6c;">Controle de Acesso</b>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body panel-body-game" style="padding-left: 0px!important;">


                            <div ng-repeat="deckauthorization in deckSuits.authorization" 
                                class="col-xs-6 col-sm-4 col-md-3 col-lg-3 card-conucopia"
                                style="border: 1px #b59b6c solid;">

                                <a ng-click="showCardExplain(deckauthorization)" class="ahrefcarddeck">

                                    <div class="card-title">
                                        <p> {{ deckauthorization.name }} </p>
                                    </div>
                                    <div class="card-number">
                                        <p> <span class="fa fa fa-code"></span> {{ deckauthorization.card }} </p>
                                    </div>
                                    <div class="card-description">
                                        <p> {{ deckauthorization.description }} </p>
                                    </div>                                

                                </a>

                            </div>
                        </div>
                    </div>

                    <!-- DECK Praticas de Criptografia Cryptography -->
                    <div class="panel-game panel-default" ng-if="showDeckCryptography" style="background-color: black;">
                        <div class="panel-heading">
                            <div class="col-xs-6 col-sm-6 game-tips" style="padding-left: 7px;">
                                <a ng-click="mostrarDicaDoMascote(jogo.resumoPrevio)" class="atitledeck">
                                    <i class="fa fa-lg fa-info" style="color: #593e5d;"></i>
                                    <b style="color: #593e5d;">Praticas de Criptografia</b>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body panel-body-game" style="padding-left: 0px!important;">

                            <div ng-repeat="deckcryptography in deckSuits.cryptography" 
                                class="col-xs-6 col-sm-4 col-md-3 col-lg-3 card-conucopia"
                                style="border: 1px #593e5d solid;">

                                <a ng-click="showCardExplain(deckcryptography)" class="ahrefcarddeck">

                                    <div class="card-title">
                                        <p> {{ deckcryptography.name }} </p>
                                    </div>
                                    <div class="card-number">
                                        <p> <span class="fa fa fa-code"></span> {{ deckcryptography.card }} </p>
                                    </div>
                                    <div class="card-description">
                                        <p> {{ deckcryptography.description }} </p>
                                    </div>                                

                                </a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <br />
            <br />
            <div class="text-mono">
                <a href="#!" wz-previous class="btn btn-danger btn-shadow px-3 my-2 ml-0 ml-sm-1 text-left">
                    Give up.
                </a>
                <a href="#!" wz-next title="Download Theme" class="btn btn-success btn-shadow px-3 my-2 ml-0 text-left">
                    Finish the game.
                </a>
            </div>
        </div>

    </wz-step>

</wizard>