<!-- Rodada - inicio -->
<div class="row">
    <div class="col-xs-12 flex-center-center game-round">
        <i class="fa fa-3x fa-chevron-left" ng-if="numeroRodada > 0" ng-click="selenarRodada(numeroRodada - 1)"></i>
        <div class="flex-center-center">{{rodadaCorrente.descricao}}</div>
        <i class="fa fa-3x fa-chevron-right" ng-if="numeroRodada < rodadas.length - 1" ng-click="selenarRodada(numeroRodada + 1)"></i>
    </div>
</div>
<!-- Rodada - fim -->

<!-- Rodada sem jogos - inicio -->
<div class="row" ng-if="!jogos.length">
    <div class="col-md-offset-1 col-lg-offset-2 col-sm-12 col-md-10 col-lg-8">
        <div class="panel-game panel-default">
            <div class="panel-body panel-body-empty-round flex-center-center">
                <div class="col-xs-10 col-sm-6 col-md-5 col-lg-5">
                    <div class="row">
                        <div class="flex-center-center">
                            <i class="fas fa-10x fa-flag-checkered"></i>
                        </div>
                        <div class="flex-center-center">
                            <span class="text-center">
                                <b>Opa, vai com calma ai!</b>
                            </span>
                        </div>
                        <div class="flex-center-center">
                            <span class="text-center">
                                Os jogos dessa rodada ainda não foram liberados. Volte após o fim da rodada anterior e dê os seus palpites :)
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Rodada sem jogos - fim -->

<!-- Informativo da rodada - inicio -->
<div class="row" ng-if="jogos.length">
    <div class="col-xs-12 flex-center-center">
        <div class="btn-lg btn-round-lg btn-open-round" ng-if="!rodadaFechada && rodadaAtiva">
            <i class="fa fa-lg fa-clock"></i>
            <span>Rodada aberta! Faça os seus palpites e boa sorte! {{}} </span>
        </div>
        <div class="btn-lg btn-round-lg btn-closed-round" ng-if="rodadaFechada && !rodadaAtiva">
            <i class="far fa-lg fa-times-circle"></i>
            <span>Ops! Essa rodada já se encerrou :(</span>
        </div>
        <div class="btn-lg btn-round-lg btn-closed-round" ng-if="!rodadaFechada && !rodadaAtiva">
            <i class="far fa-lg fa-times-circle"></i>
            <span>Hoje sim, hoje sim, hoje não... Rodada ainda não está valendo! </span>
        </div>
    </div>
</div>
<br/>
<!-- Informativo da rodada - fim -->

<!-- Jogo - inicio -->
<div class="row" ng-if="jogos.length">
    <div class="col-sm-offset-1 col-md-offset-2 col-lg-offset-0 col-xs-12 col-sm-10 col-md-8 col-lg-6" ng-repeat="jogo in jogos">
        <form name="form" ng-submit="form.$valid" novalidate>
            <div class="panel-game panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 game-tips">
                            <a ng-click="mostrarDicaDoMascote(jogo.resumoPrevio)" title="Confira aqui as dicas do especialista.">
                                <i class="fa fa-lg fa-info"></i>
                                <b>Dica do Especialista</b>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-6 text-right">
                            <i class="fa fa-lg fa-clock"></i> {{jogo.dataJogo | date: "dd/MM | HH:mm" }}
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-body-game">
                    <div class="flex-center-center versus-side-by-side">
                        <strong>X</strong>
                    </div>
                    <div class="row">
                        <!-- carta game time casa -->
                        <div class="col-sm-6 col-md-6 col-sm-6-alternativo">
                            <div class="card">
                                <div class="card-favorite" ng-if="jogo.timeCasa.favorito">
                                    <i class="fa fa-2x fa-fire"></i>
                                </div>
                                <div class="card-image">
                                    <img ng-src="{{jogo.timeCasa.urlIcon}}">
                                </div>
                                <p class="card-name text-center">{{jogo.timeCasa.nome}}</p>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr ng-repeat="caracteristica in jogo.timeCasa.caracteristicas">
                                            <td>{{caracteristica.nome}}</td>
                                            <td>
                                                <b>{{ caracteristica.valor}}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Dicas</td>
                                            <td class="card-tips">
                                                <a ng-click="mostrarDicaDoMascote(jogo.timeCasa.resumoPrevio)">
                                                    Conferir
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row game-input">
                                <div class="col-sm-offset-7 col-md-offset-7 col-sm-5 col-md-5">
                                    <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.palpiteCasa.$invalid }">
                                        <input type="text" name="palpiteCasa" class="form-control input-lg text-right" maxlength="2" ng-model="jogo.palpite.palpiteCasa"
                                            ng-disabled="jogo.jogoFinalizado || jogo.palpiteEncerrado" numbers-only required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-center-center">
                            <strong class="versus-middle">X</strong>
                        </div>
                        <!-- carta game time visitante -->
                        <div class="col-sm-6 col-md-6 col-sm-6-alternativo">
                            <div class="card">
                                <div class="card-favorite" ng-if="jogo.timeVisitante.favorito">
                                    <i class="fa fa-2x fa-fire"></i>
                                </div>
                                <div class="card-image">
                                    <img ng-src="{{jogo.timeVisitante.urlIcon}}">
                                </div>
                                <p class="card-name text-center">{{jogo.timeVisitante.nome}}</p>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr ng-repeat="caracteristica in jogo.timeVisitante.caracteristicas">
                                            <td>{{caracteristica.nome}}</td>
                                            <td>
                                                <b>{{ caracteristica.valor}}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Dicas</td>
                                            <td class="card-tips">
                                                <a ng-click="mostrarDicaDoMascote(jogo.timeVisitante.resumoPrevio)">
                                                    Conferir
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row game-input">
                                <div class="col-sm-5 col-md-5">
                                    <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.palpiteVisitante.$invalid }">
                                        <input type="text" name="palpiteVisitante" class="form-control input-lg" maxlength="2" ng-model="jogo.palpite.palpiteVisitante"
                                            ng-disabled="jogo.jogoFinalizado || jogo.palpiteEncerrado" numbers-only required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="!jogo.jogoFinalizado && !jogo.palpiteEncerrado && !jogo.palpite.id">
                        <div class="col-xs-12 time-bet text-center">
                            <span>
                                <i class="far fa-lg fa-times-circle"></i> Palpites encerram em:
                            </span>
                            <span>
                                <timer end-time="jogo.dataTermino">{{days}}d, {{hours}}h, {{minutes}}m, {{seconds}}s.</timer>
                            </span>
                        </div>
                        <div class="col-xs-12 text-center">
                            <a class="btn btn-primary" ng-click="incluirPalpite(form, jogo)">PALPITAR</a>
                        </div>
                    </div>
                    <div class="row" ng-if="!jogo.jogoFinalizado && !jogo.palpiteEncerrado && jogo.palpite.id">
                        <div class="col-xs-12 time-bet text-center">
                            <span>
                                <i class="far fa-lg fa-times-circle"></i> Palpites encerram em:
                            </span>
                            <span>
                                <timer end-time="jogo.dataTermino">{{days}}d, {{hours}}h, {{minutes}}m, {{seconds}}s.</timer>
                            </span>
                        </div>
                        <div class="col-xs-12 text-center">
                            <a class="btn btn-warning" ng-click="mudarPalpite(form, jogo)">MUDAR PALPITE</a>
                        </div>
                    </div>
                    <div class="game-result" ng-if="jogo.palpiteEncerrado">
                        <div class="row bet-locked-up">
                            <div class="col-xs-12 text-center">
                                <span>Opa, calma la amigão o palpite já foi encerrado</span>
                            </div>
                        </div>
                    </div>
                    <div class="game-result" ng-if="jogo.jogoFinalizado && !jogo.palpiteEncerrado">
                        <div class="row official-result">
                            <div class="col-xs-12 text-center">
                                <span>Resultado oficial: {{jogo.resultadoOficial}}</span>
                            </div>
                        </div>
                        <div class="row phrase">
                            <div class="col-xs-12 text-center">
                                <span>{{jogo.layoutResultado.frase}}</span>
                            </div>
                        </div>
                        <div class="row" ng-class="jogo.layoutResultado.classe">
                            <div class="col-xs-12 text-center">
                                <span>{{jogo.layoutResultado.pontuacao | makeScorePlural}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Jogo - fim -->