<div class="modal-body">
    <span class="modal-regulation-title">{{titulo}}</span>
    <div class="modal-regulation-text">
            1 - Apostas e alterações de apostas são permitidas em até 2 horas antes do jogo. <br>
            2 - Não é permitido a mudança ou envio de novas apostas para jogos finalizados. <br>
            3 - São computados 3 pontos para resultados exatos e 1 ponto para acertos parciais.<br>
            4 - Após informado o resultado, o ranking será processado a cada cinco minutos.<br>
            5 - Não há no sistema, qualquer menu administrativo para mudança de apostas, portanto, após encerradas as apostas, a mesma não pode ser alterada nem mesmo pelos administradores.
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-primary" type="button" ng-click="fecharRegulamento()">ENTENDI</a>
</div>